<!DOCTYPE html>
<html>
  <head>
    <title>BigOne</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application.html.erb', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application.html.erb', 'data-turbolinks-track': 'reload' %>
  </head>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
  <body>
  <div class="container">
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  </body>
</html>
